@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2?family= Freehand & display=swap') ;

:root {
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3: 'Freehand', cursive;
}
* {
    margin: 0px;
    padding-top: 0px;
}
body{
    /* min-height: 100vh;tamanho minino do viewort */
    background-color: rgb(250, 250, 250); /* cor fundo do texto */
    font-family: var(--fonte1);
    font-size: 16px;    
    margin: -5px;
}
header{    
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-size: 5vh; /* vh=fonte fica com % da largura da tela */
    font-family: var(--fonte2);
    padding-top: 50px;   /* espaço acima do texto */
    font-variant: small-caps;  
     /*text-transform: uppercase; aumata letras para maiuscula */
}
header >p{
    padding-bottom: 30px;
}
a:hover , footer a:hover{
    text-decoration: underline;
 }
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
section{   
    font-family: var(--fonte3);
    font-size: 2vh;
    padding-top: 0vh;/* espaço acima texto section */
    padding-bottom: 0vh;/* espaço abaixo texto section*/
    line-height: 2em;/* esáçamento letras */
    padding-left: 30px;/* afasta borda esquerda */
}
section > p{
    padding-top: 5px;
    padding-bottom: 5px; /* espaço entre <p> das estrofes */   
}
section.normal {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);    
    
}
section.imagem {
    /*background-color: rgb(0, 0, 0);*/
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);/* sombra borda da imagem */
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{/* caixa em volta do paragrafo */
    margin: 0px;
    display: inline-block; /* caixa se adapta tamanho do conteúdo */
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 1px 1px 0px black; /* sombra do texto */
}
section#img01{/* no html na section colocar class=id e aqui "style" chmar com section#+nome que foi colocado no html da section */
    background-image: url('../imagens/background001.jpg');
    background-position: right center ;
    padding: 10px 10px 10px 30px;
    
}section#img02{
background-image: url('../imagens/background002.jpg');
background-position: right center;
padding: 10px 10px 10px 30px;
}
footer{
    background-color:black;
    color: white;
    text-align: center;
    padding: 5px;
}
