@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html{
    background-color: rgb(144, 165, 179);
}
header{
    background-color: rgb(216, 30, 30);
    padding-bottom: 20px;
}

header>h1{
    display: block;
}
i#burguer{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
}

i#burguer:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(202, 195, 195);
    color: rgb(255, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}
menu > ul > li > a:hover{
    background-color: rgb(240, 255, 240);
}
main{
    width: 90vw;
    background-color: white;
    margin:auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
}
article > h2 {
    padding-bottom: 20px;
}
article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}