@charset "UTF-8";
/* estilo do curso em video */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px;
}

span#burguer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding: 0px;
    cursor: pointer;
    width: 100vw;
}

body,html{
    background-color: rgb(146, 165, 146);
    margin: -5px;
    padding: 1px;
}
header{
    background-color: rgb(146, 165, 146);
    padding-bottom: 30px;
    padding-top: 5px;
}



header>h1{
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-shadow:0px 0px 5px rgb(2, 240, 42);
}

main{
    width: 280px;
    background-color: white;
    margin:auto;
    margin-top: 55px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}
article > h2 {
    padding-bottom: 5px;
    text-align: center;
}
article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}