@charset "UTF-8";
/* estilo do menu suspenso */

*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;

}


.menu{
list-style:none;
border:1px solid #28d46100;
float:none;
text-decoration: none;

}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #05f86200;
    text-align: center;    
    }

.menu li a{
    color:#333; text-decoration:none; padding:5px 49vw; display:block;
    text-align: center;
 
}

.menu li a:hover{
background:rgba(1, 138, 104, 0.267);
color:rgb(255, 255, 255);
-moz-box-shadow:0 3px 10px 0 rgb(255, 255, 255);
-webkit-box-shadow:0 3px 10px 0 rgb(247, 178, 178);
text-shadow:0px 0px 5px rgb(21, 119, 37);
}

.menu li  ul{
    position:absolute;
    top:3px;    
    background-color:rgb(223, 230, 208);
    display:none;
    }

.menu li:hover ul, .menu li.over ul{display:block;}

